body {
    color: white;
    font-size: 20px;
}

.top-section {
    position: relative;
    margin-top: -70px;
    height: 80vh;
    width: 100%;
    text-align: center;
}

.bg-div {
    background-size: cover;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) ), url("https://image.ibb.co/kMU2sJ/architectural_design_architecture_building_140963.jpg");
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9;
}

#top-logo {
  margin-top: 5%;
  width: 20%;
}

h1 {
    text-align: center;
    margin-right: 5%;
    padding-top: 10%;
    font-size: 4em;
    letter-spacing: 1.5px;
    text-shadow: 0px 5px 8px rgba(0, 0, 0, 1);
}

h2 {
    margin-top: none;
    font-size: 2em;
    text-shadow: 0px 5px 8px rgba(0, 0, 0, 1);

}

#landing-icon {
  width: 256px;
  margin: auto;
  vertical-align: middle;
  margin-right: -5%;
}

#search {
    display: inline-block;
    margin-top: 1%;
    width: 33%;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 12px 24px;
}

#city {
    display: inline-block;
    margin-left: 28.5%;
    margin-top: 1%;
    width: 11.5%;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
}

#state {
    display: inline-block;
    margin-top: 1%;
    width: 11.5%;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
}

button {
    padding: 12px 24px;
    margin-left: -4px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f9320c;
}

button:hover {
    opacity: 0.85;
}

i {
    z-index: 2;
    color: white;
}

.bot-section {
    color: black;
    padding-bottom: 5%;
}

h3 {
    text-align: center;
    font-size: 1.5em;
}

.p-text {
    padding: 0 33%;
    margin-left: 3%;
    letter-spacing: 0.25px;
}

.sec-img {
    padding-top: 5%;
    width: 25%;
    display: block;
    margin: 0 auto;
}

.italics {
    font-style: italic;
}

.grid {
    display: block;
    width: 100%;
    margin-top: 0.5% !important;
    margin: auto;
}

.column {
    padding: 25% 25%;
}

.logo-img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    padding-top: 25%;
}

#footer {
    color: black;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
}

@media screen and (max-width: 419px) {
    .p-text {
        padding: 0 50px;
        margin-left: 3%;
    }
    .bg-div {
        background-size: cover;
        height: 100%;
    }
    h3 {
        padding: 0 50px;
    }
    h2 {
        font-size: 1.3em;
    }

    .sec-img {
        width: 100%;
    }

    img#top-logo {
        margin-top: 33% !important;
        width: 50%;
    }
}