html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 80%;
    width: 100%;
    font-family: 'Lato', serif;
}

.bottom-sec {
  background: url('../img/memphis-colorful.png');
  letter-spacing: 1px;
}

h1 {
  color: #232323;
  font-size: 3em;
 
  text-align: center;
  margin: 0;
  padding-top: 2%;

  text-shadow: none;
  font-family: 'Lato', sans-serif;
}

#subtitle {
  color: grey;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}

#score {
  font-size: 3em;
  font-family: 'Lato', sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.content {
  padding: 0 10%;
}

#teleport {
  font-size: 2rem;
}

ul {
  list-style-type: none;
  text-align: right;
}

li {
  padding-right: 50%;
}

li>p {
  font-size: 20px;
  font-weight: 800;
}

#qol-how {
  font-size: 2rem;
}

.qol {
  font-size: 3em;
}