html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 70%;
    width: 100%;
}

.bottom-sec {
  background: url('../img/memphis-colorful.png');

}

h1 {
  color: #232323;
  font-size: 3em;
 
  text-align: center;
  margin: 0;
  padding-top: 2%;

  text-shadow: none;
}

h2 {
  text-align: center;
}

li {
  font-size: 1.5em;
  
  text-align: right; 
  margin: 20px auto;
  margin-right: 50%;  
}

i {
  margin-right: 10px;
}

ul {
  list-style-type: none;
}
